html,
body {
    height: 100%;
}

/*-------------------*/
/*для выпадающего меню*/
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0px;
    margin-left: -1px;
    border-top-left-radius: 0;
}
.dropdown-submenu>a:before {
    display: block;
    float: right;
    width: 0;
    height: 0;
    content: "";
    margin-top: 6px;
    margin-right: -8px;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-left-style: dashed;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.dropdown-submenu {
    position: relative;
}
/*-------------------*/
/*Правая менюшка*/
.dl-menu, .dl-submenu{
    background-color: #00aa00!important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*---------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.6;
    font-family: tahoma, sans-serif;
    color: #A9ADB6;
    background-color: #F8F8F9;
    text-shadow: none;
}
.accent-color{
    color: #DFF0D8;
    text-transform: uppercase;
}
.main-color{
    color: #A9ADB6;
}
.myLink{
    color: #A9ADB6;
    text-decoration: underline;
}
.myLink:hover{
    color: #2C7252;
    text-decoration: none;
}
.small-button{
    display: inline-block;
    background-color: #DFF0D8;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 40px;
    font-weight: bold;
    color: gray;
}
.small-button:hover{
    text-decoration: none;
    color: #1A1A1A;
    opacity: .9;
}
/*
.myNews{
	text-decoration: none;
	color: #2C7252;
}
.myNews:hover{
	text-decoration: underline;
}
.modal-content{
	background-color: #F8F8F9;
}
#modal-reg .form-group{
	display: block;
	text-align: center;
	padding: 10px 0;
}
#modal-reg .form-group input{
	width: 80%;
}
#modal-reg .modal-footer button{
}
#modal-reg .modal-body .interactive{
	display: block;
	text-align: center;
}
*/
/*контент шапки*/
.navbar-brand{
    list-style: none;
    color: #DFF0D8;
    text-transform: uppercase;
}
.navbar-brand:hover{
    color: #A9ADB6;
}
.navbar-brand:active{
    color: #A9ADB6;
}
.top-line{
    background-color: #1A1A1A;
    color: #A9ADB6;
}
.top-line ul li a{
    color: #A9ADB6;
}
.top-line ul li a:hover{
    color: #2C7252;
    background-color: #DFF0D8;
}
.top-line .wrap{
    text-align: right;
    padding-right: 15px;
}
.phone{
    display: inline-block;
    line-height: 48px;
    color: #fff;
}
.search{
    margin-top: 10px;
    margin-left: 15px;
}
.search span{
    padding-right: 5px;
}
.search a{
    color: #A9ADB6;
    text-decoration: underline;
}
.search a:hover{
    color: #DFF0D8;
    text-decoration: none;
}
.auth{
    line-height: 48px;
    font-size: 13px;
}
.auth a{
    color: #A9ADB6;
    text-decoration: underline;
}
/*
.top-line-menu{
	background-color: #E0E3E8;
	position: relative;
}
.top-line-menu .nav{

}
.top-line-menu .nav li a{
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	color: black;
	padding: 10px 45px;
}
.top-line-menu .wrap{
	text-align: center;
}
*/
.order_show{
    display: block;
    text-align: center;
    padding: 5px;
    line-height: 40px;
}
.order_show:hover{
    background-color: #DFF0D8;
}
/*--------------------*/
/* Слайдер */
.carousel .item{
    height: 297px;
}
.carousel .item img{
    position: relative;
    margin: 0 auto;
    height: 497px;
}
.carousel .item .carousel-caption{
    background-color: rgba(223,240,216,0.5);
}
.carousel-caption h3{
    font-size: 50px;
    text-transform: uppercase;
}
.carousel-caption p{
    font-size: 20px;
}

/*------------------*/
/* Основной контент */
.titleText{
    text-align: center;
    border-bottom: 2px solid #A9ADB6;
    padding-bottom: 5px;
}
.nav-menu-right h4 a{
    display: block;
    padding: 10px 15px;
}
.nav-menu-right .panel-body{
    background-color: #F8F8F9;
}
.nav-menu-right .panel-body a{
    text-decoration: none;
    color: #A9ADB6;
    display: block;
}
.nav-menu-right .panel-body a:hover{
    text-decoration: underline;
    background-color: #DFF0D8;
}
.panel-heading:hover{
    background-color: #A9ADB6;
    text-decoration: none;
}
.panel-heading{
    padding: 0;
}
.main-content{
    position: relative;
}
.view-stock{
    position: absolute;
    top: 0;
    right: 0;
}
.main-content h2{
    text-align: left;
}
.big-block, .small-block{
    margin-bottom: 20px;
}
.stock-day .big-block{
    border: 3px solid #A9ADB6;
    text-align: center;
    background-color: #fff;
    position: relative;
}
.stock-day .big-block:hover{
    border: 3px solid green;
}
.stock-day .big-block .big-block-image{
    display: block;
    min-height: 192px;
    background-size: cover;
    position: relative;
}
.stock-day .big-block .wrap{
    background-color: rgba(223,240,216,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}
.stock-day .big-block .wrap h4{
    font-size: 14px;
    color: black;
    opacity: .6;
}
.small-block{
    border: 3px solid #A9ADB6;
    text-align: center;
    background-color: #fff;
    position: relative;
}
.small-block:hover{
    border: 3px solid green;
}
.small-block .small-block-image{
    display: block;
    min-height: 192px;
    background-size: cover;
    position: relative;
}
.small-block .wrap{
    background-color: rgba(223,240,216,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}
.small-block .wrap h4{
    font-size: 14px;
    color: black;
    opacity: .6;
}
.stock-all{
    margin-top: 15px;
}
/*
.news-company .news-image{
	display: block;
	min-height: 192px;
	background-size: cover;
	position: relative;
	width: 30%;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.news-block{
	border-bottom: 1px solid #A9ADB6;
}
.news-body{
	padding-bottom: 15px;
}
.news-body .wrap{
	text-align: right;
}
.news-body .wrap .views-news{
	padding-left: 5px;
	padding-right: 15px;
}
*/
.write-us .input-group{
    padding-bottom: 15px;
}
/*подвал сайта*/
footer .row{
    background-color: #1A1A1A;
    margin-top: 15px;
    padding: 15px;
}

/*внутренние страницы с товарами*/
.goods .row .col-md-4{
    padding: 0;
}
.goods .row .col-md-4{
    z-index: 3
}
.breadcrumb .active{
    list-style: none;
    color: green!important;
    font-weight: bold;
}
.pagination li a{
    color: black;
}
.pag{
    text-align: center;
}
.goods .good-block{
    border: 1px solid #A9ADB6;
    transition: all .5s ease;
    background-color: #fff;
    position: relative;
    min-height: 350px;
}
.goods .good-block:hover .good-block-image{
    transform: scale(1.1);
    transition: all .4s ease;
}
.goods .good-block:hover{
    border: 1px solid green;
}
.good-block .good-block-image{
    margin-top: 30px;
    display: block;
    min-height: 192px;
    background-size: cover;
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
    position: relative;
    transition: all .4s ease;
}
.good-block .wrap{
    position: relative;
    width: 100%;
}
.good-block .price{
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    float: left;
    font-weight: bold;
}
.good-block .price span{
    padding-left: 2px;
}
.good-block .wrap .order{
    font-size: 10px;
    padding: 5px 10px;
    text-align: right;
}
.good-block .wrap .order a{
    font-size: 10px;
    padding: 5px 10px;
}
.good-block .title-good{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.good-block .title-good h4{
    text-align: center;
}
.podbor-furniture p .small-button{
    display: block;
    text-align: center;
}
/*---------------------------------------*/
/*просмотр конкретного товара*/
.descr-good{
    border-bottom: 1px solid #A9ADB6;
    padding-bottom: 15px;
}
.descr-good .breadcrumb{
    font-size: 12px;
}
.descr-good .good-block{
    background-color: #fff;
    position: relative;
}
.descr-good .wrap .price{
    font-size: 25px;
    text-align: center;
}
.descr-good .wrap .order{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
.sale .price{
    color: #000;
}
.discount{
    text-decoration: line-through;
}
.flagAction{
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    background-color: yellow;
    padding: 5px 20px;
    color: black;
    top: 0;
    right: 0;
}
.props-list{
    background-color: #fff;
    color: black;
    opacity: .8;
}
.character-good-descr{
    color: black;
    opacity: .8;
}
.table tbody tr td{
    height: 100%;
    vertical-align: middle;
}
.table tbody tr td:last-child{
    text-align: right;
}
/*----------------------------------------------*/
/*личный кабинет*/
.my-coupone{
    padding-bottom: 15px;
}
.my-coupone p{
    font-size: 16px;
}
.block-coupone{
    border: 2px solid #A9ADB6;
    transition: all .5s ease;
    text-align: center;
    background-color: #fff;
    position: relative;
    min-height: 180px;
    margin-bottom: 15px;
}
.block-coupone:hover{
    transform: scale(1.05);
    border: 2px solid green;
    transition: all .4s ease;
}
.block-coupone .value-disc{
    font-size: 50px;
}
.block-coupone .number-disc{
    font-size: 18px;
    background-color: gray;
    color: #fff;
}
.block-coupone .wrap{
    background-color: rgba(223,240,216,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}
.block-coupone .wrap h4{
    font-size: 14px;
    color: black;
    opacity: .6;
}
.order_block .img_prod{
    display: block;
    min-height: 92px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
.order_block{
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.order_block h3{
    display: inline-block;
    padding-left: 10px;
}
.order_block .price{
    font-size: 25px;
    text-align: right;
}
.order_block .count{
    font-size: 20px;
    text-align: right;
    clear: both;
}
.itogo{
    color: black;
    font-size: 25px;
    text-align: right;
}
.order_block .small-block{
    border: none;
    text-align: center;
    position: relative;
}
.message_site{
    color: #fff;
    background-color: green;
}
.glyphicon-menu-left, .glyphicon-menu-right{
    cursor: pointer;
}
.remove-item{
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
}
.remove-item a{
    color: red;
}
form[name='measur'] .input-group{
    width: 50%;
}
form[name='measur'] input[type='submit']{
    margin-top: 10px;
}
form[name='selection'] > div{
    margin-top: 10px;
}
form[name='selection'] .input-group{
    width: 70%;
}
form[name='selection'] input[type='submit']{
    margin-top: 10px;
}

/*административная панель*/
#admin-auth{
    position: relative;
    text-align: center;
    padding: 20px;
    border: 2px solid gray;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
#admin-auth .input-group{
    width: 100%!important;
}
#admin-auth .input-group input[type=submit]{
    margin-top: 20px;
}
#edit{
    padding: 20px;
    text-align: center;
}
.admin_operation .admin-btn{
    margin-top: 20px;
}
.edit-current-prod .input-group{
    padding-top: 5px;
}
.logout{
    position: absolute;
    float: right;
    padding-right: 15px;
    top: 0;
    right: 0;
}

/*админка для диаграммы*/

#chart, #chartData {
    border: 1px solid #333;
    background: #ebedf2 url("../files/gradient.png") repeat-x 0 0;
}

#chart {
    display: block;
    margin: 0 0 50px 0;
    cursor: pointer;
}

#chartData {
    margin: 0 40px 0 0;
    border-collapse: collapse;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    background-position: 0 -100px;
}

#chartData th, #chartData td {
    padding: 0.5em;
    border: 1px dotted #666;
    text-align: left;
}

#chartData th {
    border-bottom: 2px solid #333;
    text-transform: uppercase;
}

#chartData td {
    cursor: pointer;
}

#chartData td.highlight {
    background: #e8e8e8;
}

#chartData tr:hover td {
    background: #f0f0f0;
}
#row0{
    color: red;
}
#row1{
    color: orange;
}
#row2{
    color: darkyellow;
}
#row3{
    color: green;
}
#row4{
    color: blue;
}
#row5{
    color: gold;
}
#row6{
    color: darkblue;
}
#row7{
    color: yellow;
}
#row8{
    color: purple;
}
#row9{
    color: black;
}
.block-search{
    position: relative;
}
.btn-search{
    position: absolute;
    top:0;
    right: 150px;
}
.field-search-search{
    width: 80%;
}
.admin-content{
    margin-top: 100px;
}